*{
	padding: 0px;
	font-family: sans-serif;
font-weight: bolder;
}
body{
	overflow-y: hidden;
	overflow-x: hidden;
}
.todo_holder{
	width: 90vw;
	height: 40vh;
	background: linear-gradient(white 0%, #DCDCDC 100%);
	margin-left: 3rem;
	margin-top:1rem;
	overflow-y: hidden;
	opacity: 0.3;
	

}
.todo_holder:hover{
	overflow-y: scroll;

}
.header{
	margin-top: 3rem;
	width: 90vw;
	height: 15vh;
	background:rgb(34,34,34);
	margin-left: 3rem;
	border-radius: 2px;
	
	
	font-size: 4rem;
	text-align: justify;
	color:yellow;
	
}

.main_toolbar{
	width: 90vw;
	height: 10vh;
	background:rgb(34,34,34);
	margin-left: 3rem;
	border-radius: 1rem;
	display: flex;
}
.btn{
	width: 10em;
	height: 3rem;
	margin-left: 1rem;
	margin-top:1rem;
	background: black;
	display: inline-block;
	color:white;
	padding: .5em 2em;
	border:2px solid;
	background:rgb(34,34,34);
}
.btn:hover{
	background: rgba(255,255,255,.2);
}
.btn:active{
	background: white;
}
.input_holder{
	width: 40vw;
	margin-left:3rem;
	height: 3rem;
	margin-top:1rem;
	background: linear-gradient(white 0%, #DCDCDC 100%);
	opacity: 0.7;
}
.input_holder:hover{
	opacity: 1.0;
}

.todo_item{
	width: 80vw;
	height: 4rem;
	background:rgb(34,34,34);
	text-align: center;
	color:white;
	opacity: 1.0;


}