*{
	font-family: 'Source Code Pro', monospace;
	font-size: 1.2rem;
}
p{
	vertical-align: middle;
	font-size: 3rem;
}
body{
	background: rgba(16,16,16,1);
	overflow-y: hidden;
	overflow-x: hidden;
}
.app_container{
	width: 96vw;
	margin-left: 2vw;
	height: 70vh;
	background: rgba(24,24,24,.5);
	border-radius: 2em 2em 0em 0em;
}
.header{
	width: 96vw;
	height: 10vh;
	background: rgba(36,36,36,.7);
	color:white;
	border-radius: 1em 1em 0em 0em;	
	margin-left: 2vw;
	text-align: center;

}
.chat_header{
	height: 10vh;
	width: 96vw;
	background: rgba(60,60,60,.7);

}
.chat_name{
	height: 10vh;
	width: 56vw;
	background: rgba(20,20,20,.7);
	display: flex;

}
.chat{
	overflow-y: hidden;
	overflow-x: hidden;
	width: 96vw;
	height: 60vh;
}
.chat:hover{

}
.message{
	width: 96vw;
	height: 10vh;
	margin-top:2em;
}
.server_message{
	width: 20vw;
	height: 10vh;
	background: rgba(0, 255, 0,.7);
	border-radius: 1em 1em 0em 1em;
	margin-left:74vw; 
	margin-top: 3em;
	margin-right: 2em;
	color:black;
	text-align: center;

}
.notmy_message{
	width: 20vw;
	background: rgba(0, 128, 0,.7);
	border-radius: 1em 1em 1em 0em;
	margin-rigt: 74vw; 
	margin-left: 2em;
	color:black;
	text-align: center;
	vertical-align: top;
	display: flex;
	float:left;
	clear:both;
	padding: 1em;

}
.notmy_message:hover{
	background: rgba(10, 256, 10,.7);
}
.input_holder{
	width: 96vw;
	height: 10vh;
	background: rgba(36,36,36,.7);
	margin-left: 2vw;
	border-radius: 0em 0em 1em 1em;
	display: flex;
}
.send_button{
	width: 7vw;
	height: 5vh;
	background: rgba(192, 192, 192,.7);
	border-radius: 2rem 2rem 2rem 2rem;
	margin-top: 1.5em;
	margin-left: 1.5em;
	float:right;
	border-color: rgba(0,0,0,.0);
}


#input{
	width: 70vw;
	height: 5vh;
	float: left;
	margin-top: 1.5em;
	margin-left: 1.5em;
	opacity: 0.7;

}
#room_input{
	height: 3vh;
	width: 10vw;
	margin-left: 1.5em;
	margin-top: 2em;
}
.submit_room_button{
	width: 7vw;
	height: 5vh;
	background:  rgba(20,20,20,.5);
	border-radius: 1rem 1rem 1rem 1rem;
	margin-top: 1.5em;
	margin-left: 1.5em;
	float:right;
	color:white;
}
#room_number{
	color:white;
	margin-left: 1.5em;
	margin-top: 2em;
}
#room_status{
	color:white;
	margin-left: 1.5em;
	margin-top: 2em;
}
#room_status.disconnected{
	color:red;
}
#room_status.connected{
	color:green;
}
.name_holder{
	color:white;
	margin-left: 3em;
}